#desktopNav{
    position: fixed;
    top: 0;
}
#mobileNav{
    position: fixed;
    top: 0;
}
.navbar{
    background-color: transparent;
}
.navbar.colorChange{
    backdrop-filter: blur(10px);
    background-color: rgba(45,45,45,0.7);
    z-index: 999;
}
#banner{
    background: linear-gradient( rgba(0,0,0,0.5), rgba(23, 25, 35, 1)), url("/images/banner2.jpg");
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
#breaker{
    background: linear-gradient(rgba(23, 25, 35, 1), rgba(0,0,0,0.5)), url("/images/break.jpg");
    min-height: 50vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}